.Rproj.user
.Rhistory
.RData
.Ruserdata
quarto
work_notes

# raw data files
*.txt

# /

# other binary
*.o
# *.exe
*.so

# temporary files
# *~
# *.idx
# *.ilg
# *.ind

# depedencies files
# *.d
# *.hpp.d.*
# .Rapp.history

# For the Mac
*.DS_Store

#
*.swp
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/doc

src/stan/**
!src/stan/**/*.*
src/stan/**/*.exe
src/stan/**/*.EXE

# working notes
todo
next_*

# scratch
scratch
docs

# raw data files
*.tsv
